/*======================================== GLOBAL VARS */
:root {
    --primary-color: #e2e8f0;
    --disabled-color: #64748B;
    --text-color: #8892b0;
    --bg-color: #010711;
}

/*======================================== CLASS STYLES */

.active-text {
    color: var(--primary-color);
}

.text-color {
    color: var(--text-color);
}

.disabled-text {
    color: var(--disabled-color);
}

.nav-line-active {
    & .nav-indicator {
        width: 5rem !important;
        background-color: var(--primary-color) !important;
    }

    & .nav-text {
        font-weight: bold;
        color: var(--primary-color) !important;
    }
}

.title-section {
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
}


/*======================================== STARS ANIMATION */

body::before {
    content: "";
    position: fixed;
    inset: 0;
    opacity: 0;
    background:
        radial-gradient(2px 2px at 20% 30%, #fff 60%, transparent 91%) repeat,
        radial-gradient(1.5px 1.5px at 70% 60%, #fff 60%, transparent 91%) repeat,
        radial-gradient(1px 1px at 40% 80%, #fff 60%, transparent 91%) repeat;
    background-size: 220px 220px, 90px 90px, 60px 60px;
    pointer-events: none;
}

body:has(.astronomy:hover)::before {
    animation: starflash 4s ease-in-out;
}

@keyframes starflash {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*======================================== ROCKET ANIMATION */

.astronomy span { 
    margin-left: .5rem;
    position: absolute;
    transition: transform 3s, opacity 3s; 
} 
.astronomy:hover > span { 
    transform: translate(50px, -50px); 
    opacity: 0; 
}

/*======================================== CURSOR ANIMATION */

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -100;
}